@import '../../styles/common.scss';

#massages {
  background-image: url('../../../assets/images/bc5.png');

  .slick-track {
    display: flex;
  }

  .slick-slider {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    cursor: grab;

    @media screen and (max-width: 426px) {
      width: 90%;
    }
  }

  .slick-slide:last-child {
    padding-right: 0;
  }

  .slick-slide img {
    display: block;
  }

  .slick-list {
    margin: 0 15px;
  }

  .slick-arrow {
    display: none !important;
  }

  .card {
    background-color: rgba(245, 222, 179, 0) !important;
    border: none !important;
    text-align: center;
    font-family: $playfair;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .container-card {
    background-color: black;
  }

  .massages-btn {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
    background-color: rgb(246, 234, 225);
    color: $chocolate;
    font-size: 20px;
  }

  .massage-img {
    width: 100%;
    position: relative;
    opacity: 1;
  }

  .container-card:hover img {
    opacity: 0.5;
  }

  .container-card:hover .massages-btn {
    opacity: 1;
  }

  .card-title {
    text-align: center;
  }

  .jQRmPT h2 {
    font-size: 4rem;
  }

  .slick-dots {
    display: none !important;
  }

  position: relative;

  .backgroundImage {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  padding: 2rem 0;
}

#feedback .slick-slider {
  .image-wrap {
    position: relative;
    display: grid !important;
    place-items: center;

    .quotes {
      display: none;
      position: absolute;
      padding: 1rem;
    }

    &:hover {
      .quotes {
        display: block;
      }
    }
  }
}

@media (min-width: 769px) {
  #massages {
    background-image: url('../../../assets/images/bc4.png');

    .slick-slider,
    .slick-track {
      gap: 20px;
    }
  }
}

@media (min-width: 1024px) {
  #massages {
    background-image: url('../../../assets/images/bc3.png');

    .slick-slider .slick-initialized {
      display: flex;
      align-items: center;
      margin: 0 auto;
      cursor: grab;
      max-width: none;
      justify-content: space-between;
      gap: 50px;
    }

    .slick-slider,
    .slick-track {
      display: flex;
      align-items: center;
      margin: 0 auto;
      cursor: grab;
      max-width: none;
      justify-content: space-between;
      gap: 10px;
    }

    .massage-img {
      width: 100%;
      height: 300px;
    }

    .slick-track {
      width: 100% !important;
    }
  }
}

@media (min-width: 1440px) {
  #massages {
    .slick-slider,
    .slick-track {
      gap: 50px;
    }

    .massage-img {
      width: 100%;
      height: 400px;
    }
  }
}
