@import './common.scss';

@media (max-width: 767px) {
  .images-container {
    width: 90%;
    display: grid;
    padding: 5%;

    .image2 {
      width: 100%;
      grid-column: 4/10;
      grid-row: 3/8;
      z-index: 4;
    }

    .image1 {
      grid-column: 2/7;
      grid-row: 1/5;
      width: 100%;
      z-index: 3;
    }
  }

  .button-container {
    width: 86%;
    margin: 30px 0 30px 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .massages-btn {
      color: $orange;
      display: flex;
      justify-content: center;
      gap: 6px;
      align-items: center;
    }
  }

  main {
    width: 100%;
    display: block;

    .about-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;

      .about-title {
        font-size: 40px;
        background-color: $clear-pink;
        margin: 10px;
        width: 86%;
        padding: 30px 10px 30px 10px;
        text-align: center;
      }

      .about-name {
        font-size: 24px;
      }

      .about-text {
        padding: 20px;
        text-align: center;
      }

      .read-more-btn {
        float: right;
        margin-top: 20px;
      }
    }

    .images-container {
      width: 90%;
      display: grid;
      padding: 5%;

      .image2 {
        width: 100%;
        grid-column: 4/10;
        grid-row: 3/8;
        z-index: 4;
      }

      .image1 {
        grid-column: 2/7;
        grid-row: 1/5;
        width: 100%;
        z-index: 2;
      }
    }

    .button-container {
      width: 86%;
      margin: 30px 0 30px 0;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      .massages-btn {
        color: $orange;
        display: flex;
        justify-content: center;
        gap: 6px;
        align-items: center;
        border: 1px outset $orange;
        border-radius: 5px;
        padding: 0.2rem 0.5rem;
        text-decoration: none;

        &:hover {
          background-color: #dfbc8b;
        }
      }
    }
  }
}
