@import './common.scss';


  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
    gap: 5%;
    background-image: url('../../assets/bc-images/bc2.png');
    margin: 0;

    // text container stars here
    .image-about {
      width: 300px;
    }
    .about-me-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .about-me-title {
        font-size: 60px;
        font-weight: 600;
        width: 250px;
        text-align: center;
      }

      .about-me-name {
        font-size: 35px;
      }

      .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .about-me-text {
        margin-top: 20px;
        font-family: $text-font;
        text-align: center;
        padding: 2%;
      }

      .massages-button {
        font-family: 'DM Sans', sans-serif;
        text-decoration: none;
        color: #d25c33;
        font-size: 18px;
        margin-bottom: 20px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

@media (min-width: 768px) {
  main {
    background-image: url('../../assets/bc-images/bc3.png');
     .image-about {
      width: 500px;
    }
    .about-me-container {
    .about-me-title {
        font-size: 80px;
        width: 300px;
      }
      .about-me-text p {
        margin: 0;
      }
    }
    }
}

@media (min-width: 1024px) {
  main {
      .about {
        flex-direction: row;
      }

    .about-me-title {
      font-size: 100px;
      font-weight: 600;
      width: 90%;
    }
  }

  @media (min-width: 1440px) {
    main {
      .about-me-container {
        gap: 0;
        max-width: 800px;

        .about-me-title {
          width: 600px;
        }
      }
    }
  }
}

